* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
   background-color: #f7f7f7db;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   color: #fff;
}

#header-title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: #10a836;
}

main {
    width: 40%;
    min-width: 450px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#login-page {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-control input {
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ccc;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #333;
}

.form-control input:focus {
    border-color: #10a836;
    border-bottom: 2px solid #10a836;
}

.action-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.action-control button {
    padding: 0.8rem 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #10a836;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 8px;
    border: 1px solid #10a836;
    transition: 0.4s;
}

.action-control button:hover {
    opacity: 1;
    transform: scale(1.03);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.action-control a {
    text-align: center;
    transition: 0.4s;
}

.action-control a:hover {
    transform: scale(1.03);
}

.hidden {
    display: none !important;
}

#error-message p {
    color: #c93030; 
    background-color: #fff0f0; 
    border: 1px solid #c93030;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}
