* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-container {
    display: flex;
    align-items: center;
    background-color: #10a836;
    width: 100%;
    border-bottom: 2px solid #444;
}

#header-title {
    text-align: center;
    width: 20%;
    background-color: #fff;
    padding: 1.5rem;
    border-right: 2px solid #444;
    font-weight: bold;
    color: #10a836;
}

#header-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

#header-bar h2 {
    color: #fff;
}

#header-link {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}

#header-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
}

#header-link a:hover {
    transform: scale(1.08);
}

.main-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.main-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0 2rem 0 ;
    width: 20%;
    background-color: #10a836;
    border: 2px solid #444;
    border-top: none;
}

.link {
    background-color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    opacity: 0.9;
    transition: 0.4s;
    text-transform: uppercase;
}

.link:hover {
    transform: scale(1.04);
    opacity: 1;
}

.link a {
    text-decoration: none;
    color: #10a836;
    font-weight: bold;
}

.info-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.info-main h2 {
    border-bottom: 2px solid #111;
    padding-bottom: 1.2rem;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    padding: 0 2rem;
    gap: 2rem;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 85%;
    min-height: 250px;
}

.cabecalho-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
}

.lista-dados {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dado-item {
    list-style: none;
    font-size: 1.2rem;
}

.btn-detalhes {
    max-width: 50%;
    align-self: center;
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #bbb;
    cursor: pointer;
    transition: 0.4s;
}

.btn-detalhes:hover {
    transform: scale(1.06);
    background-color: #fff;
}

.relatorio-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.img-grafico img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}


